.container-no-found{
    width           : 100%;
    min-height      : 754px;
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    align-items     : center;
    transition      : all 1s ease;
    padding-bottom  : 70px;
}

.container-title-no-found{
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    margin-top      : 30px;
}

.title-no-found{
    font-family     : var(--font_family);
    font-size       : var(--profesion_size);
    font-weight     : var(--profesion_weight);
    color           : white;
    position        : relative;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    margin          : 0;
    transition      : all 4s ease-in-out;
    animation       : fadein 4s;
}

.line-decoration-no-found{
    width           : 255px;
    height          : 12px;
    position        : absolute;
    opacity         : 0.4;
    bottom          : 3px;
    background-color: #0093E9;
    transition      : all 4s ease-in-out;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    animation       : fadeinline 4s;
}

.phrase-no-found{
    font-family : var(--font_family);
    font-size   : var(--phrase_size);
    font-weight : var(--phrase_weight);
    font-style  : italic;
    text-align  : center;
    color       : white;
    padding     : 10px 15px 5px 15px;
}

.container-img-no-found{
    width   :  100%;
    height  : 380px;
}

.no-found-img{
    width   : 100%;
    height  : 100%;
}

.container-btn-no-found{
    width           : 100%;
    height          : 80px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.btn-back-home{
    width           : 300px;
    height          : 60px;
    background      : transparent;
    color           : rgba(255, 255, 255, 0.5);
    border          : 2px solid rgba(255, 255, 255, 0.5);
    padding         : 16px 20px;
    border-radius   : 3px; 
    position        : relative;
    z-index         : 1;
    overflow        : hidden;
    display         : inline-block;
    text-transform  : uppercase;
    font-family     : var(--font_family);
    font-size       : var(--text_size);
    cursor          : pointer;
    text-decoration : none;
    text-align      : center;
}


@media (min-width:1024px){

    .container-no-found{
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;
    }

    .container-title-no-found{
        width           : 100%;
        display         : flex;
        flex-direction  : column;
    }

    .title-no-found{
        font-size: 60px;
    }

    .line-decoration-no-found{
        width       : 300px;
        right       : -180px;
        transform   : rotate(90deg);
        animation   : none;
    }

    .phrase-no-found{
        padding     : 5px 0px;
    }

    .container-img-btn{
        width           : 100%;
        display         : flex;
        justify-content : center;
        flex-direction  : column;
        align-items     : center;
    }

    .container-img-no-found{
        width           : 550px;
        height          : 550px;
    }

    .btn-back-home{
        color: white;
    }

    .btn-back-home::after {
        content         : "";
        background      : rgba(255, 255, 255, 0.5);
        position        : absolute;
        z-index         : -1;
        padding         : 16px 20px;
        display         : block;
        left            : -20%;
        right           : -20%;
        top             : 0;
        bottom          : 0;
        transform       : skewX(45deg) scale(0, 1);
        transition      : all 0.3s ease;
    }

    .btn-back-home:hover::after {
        transition  : all 0.3s ease-out;
        transform   : skewX(45deg) scale(1, 1);
    }

}