.container-navbar{
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 10px;
}

.container-logo{
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 10000;
}

.logo{
    width           : 34px;
    height          : 34px;
    background-color: rgba(0, 0, 0, .1);
    padding         : 2px;
    border-radius   : 2px 0px 0px 2px;
}

.cv{
    font-family     : var(--font_family);
    font-size       : var(--title_size );
    font-weight     : var(--title_weight);

    background-color: rgba(0, 0, 0, .1);
    padding         : 2px;
    border-radius   : 0px 2px 2px 0px;

    color           : rgba(255, 255, 255, .6);
}