:root{
  --font_family     : 'Fira Sans';
  --name_weight     : 900;
  --profesion_weight: 800;
  --title_weight    : 500;
  --text_weight     : 300; 
  --subtitle_weight : 100;
  --footer_weight   : 100;

  --name_size     : 36px;
  --profesion_size: 34px;
  --title_size    : 25px;
  --text_size     : 20px;
  --subtitle_size : 18px;
  --footer_size   : 18px;
}

*{
  box-sizing: border-box;
}

body{
  margin  : 0;
  padding : 0;
}